<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main>
	    	<div class="container pt-3">
	    	
	    		<!-- HEADING -->
	       		<div class="row">
	       			<div class="column">
						<h3 class="p-3 mb-0 text-white">Anpassbare Texte</h3>
					</div>
	       		</div>
	       		
	       		<!-- ALL CARDS IN ONE ROW -->
	       		<div class="row">
  		
  					<!-- EXPLANATION CARD -->
			        <div class="col-md-6 border-dark p-3 mb-3">
						<div class="card text-white bg-info"> <!-- Notwendig wenn nicht collapsible: h-100 -->
							<div class="card-header collapsed" data-toggle="collapse" data-target="#collapseAnpassung" aria-expanded="true" aria-controls="collapseOne">
								<h5 class="mb-0" th:inline="text">
									Anpassungen
									<button type="button" class="ml-3 btn btn-outline-secondary btn-sm active float-right" th:id="chevronAnpassung">
										<i class="fa fa-chevron-down float-right"></i>
									</button>
									<script type="text/javascript" th:inline="javascript">
										/*<![CDATA[*/
											
										$("#chevronAnpassung").popover({
											trigger : 'hover',
											placement : 'bottom',
											content : '"Anpassung" aufklappen',
										})
									</script>
								</h5>
							</div>
							<div class="card-body collapse" id="collapseAnpassung">
								<p>Die Texte hier können mit einem Editor angepasst werden. Dazu einfach auf den Schraubenschlüssel klicken.
								<p>Aktuell ist ein zurücksetzen auf "Standard" noch nicht möglich.</p>
	          				</div>
	         			</div>
					</div>

					<!-- EDITABLE TEXT CARDS -->
        			<!--  FOR EACH UiText a card -->
					<div class="col-md-6 border-dark p-3 mb-3" th:each="uiText : ${uiTextList}" th:object="${uiText}">

	        			<!--  CARD -->
						<div class="card">
							<div class="card-header collapsed" data-toggle="collapse" aria-expanded="true" th:attr="data-target='#collapse'+*{idUiText}, aria-controls='collapse'+*{idUiText}">
								<h5 class="mb-0" th:inline="text">
									[[*{description.toString()}]]
									
									<button type="button" class="ml-3 btn btn-outline-secondary btn-sm active float-right" th:id="'chevron'+*{idUiText}">
											<i class="fa fa-chevron-down"></i>
									</button>
									<button type="button" class="btn btn-outline-secondary btn-sm active float-right" data-toggle="modal" 
											th:id="*{uiTextKey.toString()}" 
											th:attr="data-target='#' + *{uiTextKey.toString()} + '_Modal'">
											<i class="fas fa-wrench"></i>
									</button>
									<script type="text/javascript" th:inline="javascript">
										/*<![CDATA[*/
										
										$([['#chevron'+*{idUiText}]]).popover({
											trigger : 'hover',
											placement : 'bottom',
											content : '[[*{description.toString()}]] Aufklappen',
										})
										$([['#'+*{uiTextKey.toString()}]]).popover({
											trigger : 'hover',
											placement : 'bottom',
											content : '[[*{description.toString()}]] Editieren',
										})
									</script>
								</h5>
							</div>
							<div class="card-body collapse" th:id="'collapse'+*{idUiText}">
								<p th:utext="*{text}"></p>
	          				</div>
	         			</div>
	         			<!-- END CARD -->
		         			
	         			<!-- MODAL FOR EDITING -->
						<div class="modal fade" th:id="*{uiTextKey.toString()}+'_Modal'" tabindex="-1" role="dialog" th:attr="aria-labelledby='' + *{uiTextKey.toString()} + 'ModalTitle'" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
								<div class="modal-content">
				        			<form class="h-100" th:action="@{${URL_ADMIN_EDITUITEXT}}" method="post" enctype="multipart/form-data">
	        							<input type="hidden" th:id="uiTextKey" th:name="uiTextKey" th:value="*{uiTextKey}"/>
										<div class="modal-header">
											<h5 class="modal-title" th:id="*{uiTextKey.toString()}+'ModalTitle'" th:inline="text">[[*{description.toString()}]]</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<textarea class="form-control" th:id="*{uiTextKey.toString()}+'_TextArea'" th:name="text" th:text="*{text}" rows="10"></textarea>
											<!-- SUMMERNOTE -->
											<script type="text/javascript" th:inline="text">
												$(document).ready(function() {
									 				$('#[[*{uiTextKey.toString()}+'_TextArea']]').summernote();
												});
											</script>
											<!-- SUMMERNOTE END -->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
											<input type="submit" class="btn btn-primary" th:id="submit" th:value="Speichern" />
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- END OF MODAL FOR EDITING -->
					</div>
					<!-- END OF EDITABLE TEXT CARDS -->
				</div>
			</div>
			
		</main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>