<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
	            	
       		<div class="row">
       			<div class="column">
					<h3 class="p-3 mb-0 text-white">Anpassbare Texte</h3>
				</div>
       		</div>
       		<div class="row justify-content-center">
        		<div class="col-md-6 border-dark p-3 mb-3" th:each="uiText : ${uiTextList}" th:object="${uiText}">
        		
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0" th:inline="text">
								[[*{description.toString()}]]
									<button type="button" class="btn btn-outline-secondary btn-sm active float-right" data-toggle="modal" th:attr="data-target='#' + *{uiTextKey.toString()} + 'Modal'">
										<i class="fas fa-wrench"></i>
									</button>
							</h5>
						</div>
						<div class="card-body">
							<p th:text="*{text}"></p>
          				</div>
         			</div>
					<div class="modal fade" th:id="*{uiTextKey.toString()}+'Modal'" tabindex="-1" role="dialog" th:attr="aria-labelledby='' + *{uiTextKey.toString()} + 'ModalTitle'" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:id="*{uiTextKey.toString()}+'ModalTitle'" th:inline="text">[[*{description.toString()}]]</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Work in Progess...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
									<button type="button" class="btn btn-primary">Speichern</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>