<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
		<main class="container pt-3">
			<div class="card mb-3">
				<form th:action="${project.active} ? '' : @{${URL_ADMIN_PROJECTDETAILS}}" th:object="${project}" method="post">
					<div class="card-header text-center"><h3 class="mb-0">Projektdetails</h3></div>
					<div class="card-block p-3">
						<div class="col-lg-12 text-center">
							
							<h4 class="mt-4 text-left">Einstellungen</h4>
	
							<input id="project" name="project" th:field="*{idProject}" type="hidden" />
			
							<div class="form-group">
								<input th:field="*{projectName}" class="form-control" placeholder="Projektname" required="required"  th:disabled="*{active}" />
								<span th:errors="*{projectName}" class="text-warning"></span>
							</div>								
							
							<div class="form-group">
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{needMobile}" id="needMobile" th:disabled="*{active}" />
									<label class="custom-control-label" for="needMobile">Handy ist Pflichtangabe</label>
									<span th:errors="*{needMobile}" class="text-warning"></span>
								</div>
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{needMail}" id="needMail" th:disabled="*{active}" />
									<label class="custom-control-label" for="needMail">E-Mailadresse ist Pflichtangabe</label>
									<span th:errors="*{needMail}" class="text-warning"></span>
								</div>
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{isPricegame}" id="isPricegame" th:disabled="*{active}" />
									<label class="custom-control-label" for="isPricegame">Befragung ist ein Gewinnspiel</label>
									<span th:errors="*{isPricegame}" class="text-warning"></span>
								</div>
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{askFreetext}" id="askFreetext" th:disabled="*{active}" />
									<label class="custom-control-label" for="askFreetext">Freitextfeld anzeigen</label>
									<span th:errors="*{askFreetext}" class="text-warning"></span>
								</div>
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{active}" id="active" disabled="disabled" />
									<label class="custom-control-label" for="active">Projekt aktiv</label>
									<span th:errors="*{active}" class="text-warning"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
									<div class="input-group-prepend" data-target="#datetimepicker1" data-toggle="datetimepicker">
										<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
									</div>
									<input type="text" th:field="*{startZonedDateTime}" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datetimepicker1" placeholder="Startdatum: TT.MM.JJJJ HH:MM" required="required" th:disabled="*{active}" />
									<span th:errors="*{startZonedDateTime}" class="text-warning"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
									<div class="input-group-prepend" data-target="#datetimepicker2" data-toggle="datetimepicker">
										<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
									</div>
									<input type="text" th:field="*{endZonedDateTime}" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="Enddatum: TT.MM.JJJJ HH:MM" required="required" th:disabled="*{active}" />
									<span th:errors="*{endZonedDateTime}" class="text-warning"></span>
								</div>
							</div>
							<script type="text/javascript">
						
								$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
								icons: {
								    time: 'far fa-clock',
								    date: 'far fa-calendar',
								    up: 'far fa-arrow-up',
								    down: 'far fa-arrow-down',
								    previous: 'far fa-chevron-left',
								    next: 'far fa-chevron-right',
								    today: 'far fa-calendar-check-o',
								    clear: 'far fa-trash',
								    close: 'far fa-times'
								}
								});
						
						
							    $(function () {
									$('#datetimepicker1').datetimepicker({
									format: 'DD.MM.YYYY HH:mm',
									timezone: 'CET'
							    	});
									$('#datetimepicker2').datetimepicker({
									format: 'DD.MM.YYYY HH:mm',
									timezone: 'CET'
									});
							    });
							</script>

							<div class="form-group text-left">
							    <label for="ratingQuestionCount">Anzahl zu bewertender Paare pro Teilnehmer</label>
								<input th:field="*{ratingQuestionCount}" class="form-control" placeholder="" required="required" type="number" min="1" th:disabled="*{active}" />
								<span th:errors="*{ratingQuestionCount}" class="text-warning"></span>
							</div>
							
							<div class="form-group text-left">
							    <label for="notificationMail">E-Mailadresse optional für Teilnahmebenachrichtigungen:</label>
								<input th:field="*{notificationMail}" class="form-control" placeholder="" type="email" th:disabled="*{active}" />
								<span th:errors="*{notificationMail}" class="text-warning"></span>
							</div>
							
							<h4 class="mt-4 text-left">Bewertungsobjekte</h4>

							<div th:remove="tag" th:each="ratingObject, iterStat : *{ratingObjectList}" th:object="${ratingObject}">
								
								<div class="input-group mb-3">	
									<div class="input-group-prepend">
										<span class="input-group-text" th:id="'basic-addon'+${iterStat.index}" th:text="${iterStat.count}"></span>
									</div>															   
									<input type="text"
										th:field="${project.ratingObjectList[__${iterStat.index}__].name}" class="form-control" required="required"
										th:attr="aria-describedby='basic-addon'+${iterStat.index}"
										th:disabled="${project.active}" />
									<span th:errors="${project.ratingObjectList[__${iterStat.index}__].name}" class="text-warning"></span>
								</div>
																
							</div>
							
							<div id="buttonMarker"></div>
							
							<div th:remove="tag" th:if="*{! active}">
								<!-- RATIGNOBJECT PART -->
							
								<button type="button" id="addRatingObject" class="btn btn-secondary">
									Bewertungsobjekt<br /><i class="fas fa-plus"></i>
								</button>
				
								<script th:inline="javascript">
									var ratingObjectNumber = [[${#lists.size(project.ratingObjectList)}]];
									var ratingObjectIndex = [[${#lists.size(project.ratingObjectList)}]];
									$(document).ready(function(){
										$("#addRatingObject").click(function(){
											ratingObjectNumber += 1;
											$("#buttonMarker").before(""
												+ "<div class='input-group mb-3'>"	
												+ "	<div class='input-group-prepend'>"
												+ "		<span class='input-group-text' id='basic-addon" + ratingObjectIndex + "'>" + ratingObjectNumber + "</span>"
												+ "	</div>"
												+ "	<input type='text'"
												+ "		id='ratingObjectList" + ratingObjectIndex + ".name'"
												+ "		name='ratingObjectList[" + ratingObjectIndex + "].name'"
												+ "		value='Wertungsobjekt'" + ratingObjectNumber
												+ "		class='form-control' required='required'"
												+ "		aria-describedby='basic-addon" +  ratingObjectIndex + "' />"
												+ "</div>");
											ratingObjectIndex += 1;
											});
										});
								</script>
							</div>
								
							<div>
								<p class="text-error" th:text="${globalError}"></p>
							</div>
						</div>	
					</div>
					<div class="card-footer">
						<div class="form-group mb-0  text-center">
							<a th:href="@{${URL_ADMIN_PROJECTS}}">
								<button type="button" class="btn btn-secondary">Zurück<br /><i class="fa fa-times" aria-hidden="true"></i></button>
							</a>
							<button type="submit" id="submit" class="btn btn-primary" th:if="*{not active}">
								Speichern<br /><i class="fas fa-save"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</main>
		<footer th:replace="template :: footer"></footer>
	</body>
</html>
