<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Projektübersicht</h1>
					<p class="lead">Hier sind alle verfügbaren Projekte aufgelistet.</p>
					<a th:href="@{${URL_ADMIN_PROJECTDETAILS}}" class="btn btn-primary" role="button" th:id="*{idProject}">
						<i class="fas fa-plus"></i>&nbsp;&nbsp;Projekt hinzufügen
					</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div  class="col-md-4 border-dark p-3 mb-3" th:each="project : ${projectList}" th:object="${project}">
					<div class="card mb-3">
						<div class="card-header text-center">
							<h3 class="mb-0" th:text="*{projectName}"></h3>
						</div>
						<div class="card-block p-3">
							<table>
								<tr>
									<th>Start:</th>
									<td class="pl-3" th:text="*{startZonedDateTime+' Uhr'}"></td>
								</tr>
								<tr>
									<th>Ende:</th>
									<td class="pl-3" th:text="*{endZonedDateTime+' Uhr'}"></td>
								</tr>
								<tr>
									<th>Aktiv:</th>
									<td class="pl-3" th:text="*{active ? 'Ja' : 'Nein'}"></td>
								</tr>
								<tr>
									<th>Online:</th>
									<td class="pl-3" th:text="*{online ? 'Ja' : 'Nein'}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer text-center">
							<a th:href="@{${URL_ADMIN_PROJECTDETAILS}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'editproject'">
								<i class="fas fa-wrench"></i>
							</a>
							<a th:href="@{${URL_ADMIN_EDITUITEXT}+*{idProject}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'edituitext'">
								<i class="fas fa-quote-right"></i>
							</a>
							<a href="#" class="btn btn-warning mt-1" role="button" data-toggle="modal" th:id="*{idProject}+'projectrun'"  th:attr="data-target='#lockAndStartModal'+*{idProject}" th:if="*{! active}">
								<i class="fas fa-play"></i>
							</a>
							<a th:href="@{${URL_PROJECTHOME}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'projecthome'" th:if="*{active}">
								<i class="fas fa-home"></i>
							</a>
							<a th:href="@{${URL_ADMIN_SHOWFEEDBACK}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'showfeedback'" th:if="*{active}">
								<i class="fas fa-users"></i>
							</a>
							<a th:href="@{${URL_ADMIN_SHOWUSERAGENTS}+*{idProject}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'showuseragents'" th:if="*{active}">
								<i class="fas fa-user-tie"></i>
							</a>
							<a href="#" class="btn btn-warning mt-1" role="button" data-toggle="modal" th:attr="data-target='#resetModal'+*{idProject}" th:id="*{idProject}+'projectreset'" th:if="*{active}" >
								<i class="fa fa-times"></i>
							</a>
							<a href="#" class="btn btn-warning mt-1" role="button" data-toggle="modal" th:attr="data-target='#deleteModal'+*{idProject}" th:id="*{idProject}+'projectdelete'">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
							
							<!-- MODAL for activation button -->
							<div th:id="'lockAndStartModal'+*{idProject}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Umfrage starten</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Möchtest du die Umfrage starten? Die Änderung der Umfrageeigenschaften ist dann nicht mehr möglich.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
											<a th:href="@{${URL_ADMIN_PROJECTRUN} + *{projectName}}">
												<button type="button" class="btn btn-warning"><i class="fas fa-play"></i>&nbsp;Starten</button>
											</a>
										</div>
									</div>
								</div>
							</div>
							
							<!-- MODAL for reset button -->
							<div th:id="'resetModal'+*{idProject}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Umfrage zurücksetzen</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Möchtest du die Umfrage zurücksetzen und dabei alle Ergebnisse löschen? Das Wiederherstellen der Umfrage ist nicht möglich.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
											<a th:href="@{${URL_ADMIN_PROJECTRESET} + *{projectName}}">
												<button type="button" class="btn btn-warning"><i class="fas fa-times"></i>&nbsp;Zurücksetzen</button>
											</a>
										</div>
									</div>
								</div>
							</div>
							
							<!-- MODAL for delete button -->
							<div th:id="'deleteModal'+*{idProject}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Umfrage löschen</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Möchtest du die Umfrage <b>löschen</b> und damit auch alle Ergebnisse löschen? Das Wiederherstellen der Umfrage ist nicht möglich.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
											<a th:href="@{${URL_ADMIN_PROJECTDELETE} + *{projectName}}">
												<button type="button" class="btn btn-warning"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Löschen</button>
											</a>
										</div>
									</div>
								</div>
							</div>
							
							
							<script type="text/javascript" th:inline="javascript">
								/*<![CDATA[*/
									
								$([['#'+*{idProject}+editproject]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Projekt [[*{projectName}]] und Bewertungsobjekte bearbeiten',
								})
									
								$([['#'+*{idProject}+edituitext]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Beschreibungstexte für [[*{projectName}]] bearbeiten',
								})

								$([['#'+*{idProject}+projecthome]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zur Umfrage [[*{projectName}]]',
								})

								$([['#'+*{idProject}+showfeedback]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zu den Ergebnissen von [[*{projectName}]]',
								})

								$([['#'+*{idProject}+showuseragents]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zu den UserAgents von [[*{projectName}]]',
								})

								$([['#'+*{idProject}+projectreset]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Setzt das Projekt zurück in einen bearbeitbaren Zustand und löscht alle Ergebnisse.',
								})

								$([['#'+*{idProject}+projectdelete]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Löscht das Projekt mit all seinen Ergebnissen.',
								})
							</script>
						</div>
					</div>
				</div>
			</div>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>