<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Projektübersicht</h1>
					<p class="lead">Hier sind alle verfügbaren Projekte aufgelistet.</p>
					<a th:href="@{${URL_ADMIN_PROJECTDETAILS}}" class="btn btn-primary" role="button" th:id="*{idProject}">
						<i class="fas fa-plus"></i>&nbsp;&nbsp;Projekt hinzufügen
					</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div  class="col-md-4 border-dark p-3 mb-3" th:each="project : ${projectList}" th:object="${project}">
					<div class="card mb-3">
						<div class="card-header text-center">
							<h3 class="mb-0" th:text="*{projectName}"></h3>
						</div>
						<div class="card-block p-3">
							<table>
								<tr>
									<th>Start:</th>
									<td class="pl-3" th:text="*{#dates.format(startDate, 'dd.MM.yyyy - HH:mm:ss')+' Uhr'}"></td>
								</tr>
								<tr>
									<th>Ende:</th>
									<td class="pl-3" th:text="*{#dates.format(endDate, 'dd.MM.yyyy - HH:mm:ss')+' Uhr'}"' Uhr'></td>
								</tr>
								<tr>
									<th>Aktiv:</th>
									<td class="pl-3" th:text="*{running ? 'Ja' : 'Nein'}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer text-center">
							<a th:href="@{${URL_ADMIN_PROJECTDETAILS}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'edituitext'">
								<i class="fas fa-wrench"></i>
							</a>
							<a th:href="@{${URL_ADMIN_EDITUITEXT}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'editproject'">
								<i class="fas fa-quote-right"></i>
							</a>
							<a th:href="@{${URL_PROJECTHOME}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'projecthome'">
								<i class="fas fa-home"></i>
							</a>
							<a th:href="@{${URL_ADMIN_SHOWFEEDBACK}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'showfeedback'">
								<i class="fas fa-users"></i>
							</a>
							<a th:href="@{${URL_ADMIN_SHOWUSERAGENTS}+*{projectName}}" class="btn btn-secondary mt-1" role="button" th:id="*{idProject}+'showuseragents'">
								<i class="fas fa-user-tie"></i>
							</a>
							<script type="text/javascript" th:inline="javascript">
								/*<![CDATA[*/
									
								$([['#'+*{idProject}+edituitext]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Projekt [[*{projectName}]] und Bewertungsobjekte bearbeiten',
								})
									
								$([['#'+*{idProject}+editproject]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Beschreibungstexte für [[*{projectName}]] bearbeiten',
								})

								$([['#'+*{idProject}+projecthome]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zur Umfrage [[*{projectName}]]',
								})

								$([['#'+*{idProject}+showfeedback]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zu den Ergebnissen von [[*{projectName}]]',
								})

								$([['#'+*{idProject}+showuseragents]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zu den UserAgents von [[*{projectName}]]',
								})
							</script>
						</div>
					</div>
				</div>
			</div>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>