<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
		<main class="container pt-3">
			<div class="card mb-3">
				<div class="card-header text-center"><h3 class="mb-0">Projektdetails</h3></div>
				<div class="card-block p-3">				
					<div class="col-lg-12 text-center">
						<form th:action="@{${URL_ADMIN_PROJECTDETAILS}}" th:object="${project}" method="post">

						  <input id="project" name="project" th:field="*{idProject}" type="hidden" />
			
							<div class="form-group">
								<input th:field="*{projectName}" class="form-control" placeholder="Projektname" required="required" />
								<span th:errors="*{projectName}" class="text-warning"></span>
							</div>								
							
							<div class="form-group">
								<div class="custom-control custom-checkbox">
								 	<input type="checkbox" class="custom-control-input" th:field="*{running}" id="running" disabled="disabled">
									<label class="custom-control-label" for="running">Projekt aktiv</label>
									<span th:errors="*{running}" class="text-warning"></span>
								</div>
							</div>
														
							<div class="form-group">
								<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
									<div class="input-group-prepend" data-target="#datetimepicker1" data-toggle="datetimepicker">
										<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
									</div>
									<input type="text" th:field="*{startDate}" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datetimepicker1" placeholder="Startdatum: TT.MM.JJJJ HH:MM" required="required" />
									<span th:errors="*{startDate}" class="text-warning"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
									<div class="input-group-prepend" data-target="#datetimepicker2" data-toggle="datetimepicker">
										<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
									</div>
									<input type="text" th:field="*{endDate}" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="Enddatum: TT.MM.JJJJ HH:MM" required="required" />
									<span th:errors="*{endDate}" class="text-warning"></span>
								</div>
							</div>

							<script type="text/javascript">
						
								$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
								icons: {
								    time: 'far fa-clock',
								    date: 'far fa-calendar',
								    up: 'far fa-arrow-up',
								    down: 'far fa-arrow-down',
								    previous: 'far fa-chevron-left',
								    next: 'far fa-chevron-right',
								    today: 'far fa-calendar-check-o',
								    clear: 'far fa-trash',
								    close: 'far fa-times'
								}
								});
						
						
							    $(function () {
									$('#datetimepicker1').datetimepicker({
									format: 'DD.MM.YYYY HH:mm'
							    	});
									$('#datetimepicker2').datetimepicker({
									format: 'DD.MM.YYYY HH:mm'
									});
							    });
							</script>

							<h4 class="mt-4">Bewertungsobjekte</h4>

							<div th:remove="tag" th:each="ratingObject, iterStat : *{ratingObjectList}" th:object="${ratingObject}">
								
								<div class="input-group mb-3">	
									<div class="input-group-prepend">
										<span class="input-group-text" th:id="'basic-addon'+${iterStat.index}" th:text="${iterStat.count}"></span>
									</div>															   
									<input type="text"
										th:field="${project.ratingObjectList[__${iterStat.index}__].name}" class="form-control" required="required"
										th:attr="aria-describedby='basic-addon'+${iterStat.index}" />
									<span th:errors="${project.ratingObjectList[__${iterStat.index}__].name}" class="text-warning"></span>
								</div>
																
							</div>
							
							<div id="buttonMarker"></div>
							
							<div>
								<p class="text-error" th:text="${globalError}"></p>
							</div>
							
							<div class="form-group mb-0">
								<div class="form-group">
								
									<!-- RATIGNOBJECT PART -->
								
									<button type="button" id="addRatingObject" class="btn btn-secondary">
										Bewertungsobjekt<br /><i class="fas fa-plus"></i>
									</button>
					
									<script th:inline="javascript">
										var ratingObjectNumber = [[${#lists.size(project.ratingObjectList)}]];
										var ratingObjectIndex = [[${#lists.size(project.ratingObjectList)}]];
										$(document).ready(function(){
											$("#addRatingObject").click(function(){
												ratingObjectNumber += 1;
												$("#buttonMarker").before(""
													+ "<div class='input-group mb-3'>"	
													+ "	<div class='input-group-prepend'>"
													+ "		<span class='input-group-text' id='basic-addon" + ratingObjectIndex + "'>" + ratingObjectNumber + "</span>"
													+ "	</div>"
													+ "	<input type='text'"
													+ "		id='ratingObjectList" + ratingObjectIndex + ".name'"
													+ "		name='ratingObjectList[" + ratingObjectIndex + "].name'"
													+ "		value='Wertungsobjekt'" + ratingObjectNumber
													+ "		class='form-control' required='required'"
													+ "		aria-describedby='basic-addon" +  ratingObjectIndex + "' />"
													+ "</div>");
												ratingObjectIndex += 1;
												});
											});
									</script>
									
									<!-- MODAL PART -->

									<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#lockAndStartModal">
										Sperren und Starten<br /><i class="fas fa-play"></i>
									</button>
									
									<div id="lockAndStartModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Umfrage starten</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p>Möchtest du die Umfrage starten? Die Änderung der Umfrageeigenschaften ist dann nicht mehr möglich.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
													<a th:href="@{${URL_ADMIN_PROJECTRUN + project.projectName}}">
														<button type="button" class="btn btn-warning">Starten</button>
													</a>
												</div>
											</div>
										</div>
									</div>
		
									<!-- JUST SAVE PART :-) -->
		
									<button type="submit" id="submit" class="btn btn-primary">
										Speichern<br /><i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>
					</div>	
				</div>
				<div class="card-footer">&nbsp;</div>
			</div>
		</main>

		<footer th:replace="template :: footer"></footer>
	</body>
</html>
