<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
	     
	     	<!-- ~~~~~~~~~~~~~~~ Functions ~~~~~~~~~~~~~~~ -->
	     
        	<div class="row">
       			<div class="column">
					<h3 class="p-3 mb-0 text-white">Export</h3>
				</div>
       		</div>
    		<div class="row justify-content-center">
        		<div class="column border-dark p-3 mb-3">
        			<a th:href="@{${URL_ADMIN_CSVPARTICIPANTS}}" class="btn btn-secondary">
						<span class="fas fa-file-download">&nbsp;&nbsp;Teilnehmer</span>
					</a>
       			</div>
        		<div class="column border-dark p-3 mb-3">
        			<a th:href="@{${URL_ADMIN_CSVFEEDBACK}}" class="btn btn-secondary">
						<span class="fas fa-file-download">&nbsp;&nbsp;Feedback M/W</span>
					</a>
       			</div>
        		<div class="column border-dark p-3 mb-3">
        			<a th:href="@{${URL_ADMIN_CSVFEEDBACK_M}}" class="btn btn-secondary">
						<span class="fas fa-file-download">&nbsp;&nbsp;Feedback M</span>
					</a>
       			</div>
        		<div class="column border-dark p-3 mb-3">
        			<a th:href="@{${URL_ADMIN_CSVFEEDBACK_W}}" class="btn btn-secondary">
						<span class="fas fa-file-download">&nbsp;&nbsp;Feedback W</span>
					</a>
       			</div>
       			<div class="column border-dark p-3 mb-3">
        			<a th:href="@{${URL_ADMIN_CSVFEEDBACK_FREETEXT}}" class="btn btn-secondary">
						<span class="fas fa-file-download">&nbsp;&nbsp;Freitext</span>
					</a>
       			</div>
			</div>
	         
			<!-- ~~~~~~~~~~~~~~~ Random participants ~~~~~~~~~~~~~~~ -->
			
       		<div class="row">
       			<div class="column">
					<h3 class="p-3 mb-0 text-white">Zufällige Teilnehmer</h3>
				</div>
       		</div>
       		<div class="row justify-content-center">
        		<div class="column border-dark p-3 mb-3" th:if="${#lists.isEmpty(randomParticipantList)}">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">Keine Gewinner</h4>
          				</div>
						<div class="card-body">
							<p th:inline="text">Es hat noch keiner Feedback abgeschickt.</p>
          				</div>
         			</div>
       			</div>
        		<div class="column border-dark p-3 mb-3" th:each="randomParticipant : ${randomParticipantList}" th:object="${randomParticipant}" >
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">#[[${randomParticipantStat.index+1}]]</h4>
          				</div>
						<div class="card-body">
							<p th:inline="text">[[*{firstname}]] [[*{name}]]</p>
							<p th:if="${needMail}" th:inline="text">[[*{email}]]</p>
							<p th:if="${needMobile}" th:inline="text">[[*{mobile}]]</p>
          				</div>
         			</div>
       			</div>
			</div>
			
			<!-- ~~~~~~~~~~~~~~~ Participant list ~~~~~~~~~~~~~~~ -->
			
       		<div class="row">
       			<div class="column">
					<h3 class="p-3 mb-0 text-white">Vollständige Listen</h3>
				</div>
       		</div>
       		<div class="row justify-content-center">
        		<div class="col-12 border-dark p-3 mb-3">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">Teilnehmer</h4>
          				</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table text-nowrap table-bordered table-hover table-striped m-0 text-left table-sm">
									<tr>
										<th class="text-center">ID<br/>Teilnehmer</th>
										<th>Vorname</th>
										<th>Nachname</th>
										<th th:if="${needMail}">E-Mail</th>
										<th th:if="${needMobile}">Mobil</th>
										<th class="text-center">m/w</th>
										<th class="text-center">Teilnahmezeitpunkt</th>
										<th></th>
									</tr>
									<tr th:each="participant : ${participantList}" th:object="${participant}">
										<td class="text-center" th:text="*{idParticipant}"></td>
										<td th:text="*{firstname}"></td>
										<td th:text="*{name}"></td>
										<td th:if="${needMail}" th:text="*{email}"></td>
										<td th:if="${needMobile}"th:text="*{mobile}"></td>
										<td class="text-center" th:text="*{gender}"></td>
										<td class="text-center" th:text="*{getformattedParticipationDateString()}"></td>
										<td class="text-center">
											<a th:href="@{${URL_ADMIN_EDITPARTICIPANT} + *{idParticipant}}" class="btn btn-secondary">
												<span class="fas fa-pencil-alt"></span>
											</a>
											<a th:href="@{${URL_ADMIN_DELETEPARTICIPANT} + *{idParticipant}}" class="btn btn-secondary">
												<span class="fas fa-trash"></span>
											</a>
										</td>
									</tr>
								</table>
							</div>
          				</div>
         			</div>
       			</div>
			</div>
			
			<!-- ~~~~~~~~~~~~~~~ Male answer list ~~~~~~~~~~~~~~~ -->
			
       		<div class="row justify-content-center">
        		<div class="col-12 border-dark p-3 mb-3">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">Antworten Jungs</h4>
          				</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table text-nowrap table-responsive table-bordered table-hover table-striped m-0 text-left table-sm">
									<tr>
										<th class="text-center">ID<br/>Frage</th>
										<th class="text-center">Summe<br/>Stimmen</th>
										<th>Objekt 1</th>
										<th class="text-center">Stimmen<br/>1</th>
										<th class="text-center">Stimmen<br/>2</th>
										<th>Objekt 2</th>
									</tr>
									<tr th:each="ratingQuestion : ${rqListMale}" th:object="${ratingQuestion}">
										<td class="text-center" th:text="*{idRatingQuestion}"></td>
										<td class="text-center" th:text="*{countVoted}"></td>
										<td style="font-weight: bold;" th:text="*{objectOne.toString()}"></td>
										<td class="text-center" th:text="*{votesOne}"></td>
										<td class="text-center" th:text="*{votesTwo}"></td>
										<td style="font-weight: bold;" th:text="*{objectTwo.toString()}"></td>
									</tr>
								</table>
							</div>
          				</div>
         			</div>
       			</div>
			</div>
			
			<!-- ~~~~~~~~~~~~~~~ Female answer list ~~~~~~~~~~~~~~~ -->
			
       		<div class="row justify-content-center">
        		<div class="col-12 border-dark p-3 mb-3">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">Antworten Mädels</h4>
          				</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table text-nowrap table-responsive table-bordered table-hover table-striped m-0 text-left table-sm">
									<tr>
										<th class="text-center">ID<br/>Frage</th>
										<th class="text-center">Summe<br/>Stimmen</th>
										<th>Objekt 1</th>
										<th class="text-center">Stimmen<br/>1</th>
										<th class="text-center">Stimmen<br/>2</th>
										<th>Objekt 2</th>
									</tr>
									<tr th:each="ratingQuestion : ${rqListFemale}" th:object="${ratingQuestion}">
										<td class="text-center" th:text="*{idRatingQuestion}"></td>
										<td class="text-center" th:text="*{countVoted}"></td>
										<td style="font-weight: bold;" th:text="*{objectOne.getName()}"></td>
										<td class="text-center" th:text="*{votesOne}"></td>
										<td class="text-center" th:text="*{votesTwo}"></td>
										<td style="font-weight: bold;" th:text="*{objectTwo.getName()}"></td>
									</tr>
								</table>
							</div>
          				</div>
         			</div>
       			</div>
			</div>
			
			<!-- ~~~~~~~~~~~~~~~ Free text ~~~~~~~~~~~~~~~ -->
			
       		<div class="row justify-content-center">
        		<div class="col-12 border-dark p-3 mb-3">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">Freitext Feedback</h4>
          				</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table text-nowrap table-bordered table-hover table-striped m-0 text-left table-sm">
										<th class="text-center">ID<br/>Feedback</th>
										<th class="text-center">m/w</th>
										<th class="">Text</th>
									</tr>
									<tr th:each="freeText : ${freeTextList}" th:object="${freeText}">
										<td class="text-center" th:text="*{idFreeText}"></td>
										<td class="text-center" th:text="*{gender.toString()}"></td>
										<td th:utext="*{#strings.replace( #strings.escapeXml(text),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
									</tr>
								</table>
							</div>
          				</div>
         			</div>
       			</div>
			</div>
			
			<!-- ~~~~~~~~~~~~~~~ END ~~~~~~~~~~~~~~~ -->		
			
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>