<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
	            	
       		<div class="row">
       			<div class="column">
					<h3 class="p-3 mb-0 text-white">User-Agents</h3>
				</div>
       		</div>
			
       		<div class="row justify-content-center">
        		<div class="col-12 border-dark p-3 mb-3">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center mb-0" th:inline="text">&nbsp;</h4>
          				</div>
						<div class="card-body">

							<div th:remove="tag" th:if="${#lists.isEmpty(userAgentList)}">
								<p class="text-center">Es gibt noch keine Teilnehmer.</p>
							</div>
							
							<div th:remove="tag" th:if="${not #lists.isEmpty(userAgentList)}">

								<div class="table-responsive">
									<table class="table text-nowrap table-bordered table-hover table-striped m-0 text-left table-sm">
										<tr>
											<th class="text-center">#</th>
											<th>User-Agent</th>
	
										</tr>
										<tr th:each="userAgent : ${userAgentList}" th:object="${userAgent}">
											<td class="text-center" th:text="*{idUserAgent}"></td>
											<td th:text="*{text}"></td>
										</tr>
									</table>
								</div>
						
							</div>
						
          				</div>
         			</div>
       			</div>
			</div>
			
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>