/*!
 * Bootstrap customization
 */

body {
  /* background-color: #000; */
    max-width: 1200px;
}



/*
 * Alignment of text in tables vertically centered
 */
.table th,
.table td {
  vertical-align: middle;
}
/* .checkbox input, */
/* .radio input { */
/*   horizontal-align: middle; */
/*   height: 100%; */
/* } */
/* td input[type="checkbox"] { */
/*     float: right; */
/*     margin: 0 auto; */
/*     width: 100%; */
/* } */



/*
 * navbar dropdowns aligning to the left
 */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

/*
 * Collapsable chevron
 */
.card-header .fa {
  transition: .3s transform ease-in-out;
}

.card-header.collapsed .fa {
  transform: rotate(90deg);
}