<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
   	        <div class="card mb-3">
	            <div class="card-header text-center"><h3 class="mb-0">Danke!</h3></div>
	            <div class="card-block p-3  py-5">
					<div class="col-lg-12 text-center">
						<p class="" th:utext="${MSG_FEEDBACK_END}"></p>
						<div class="pt-3">
							<a th:href="@{${URL_PROJECTHOME}+${projectName}}" class="btn btn-primary" role="button">
								Nächster Teilnehmer<br /><i class="fas fa-redo"></i>
							</a>
							<a th:href="@{${URL_HOME}}" class="btn btn-secondary" role="button">
								Feedback  Übersicht<br /><i class="fas fa-home"></i>
							</a>
						</div>
					</div>
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>