<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
   	        <div class="card mb-3">
	            <div class="card-header text-center"><h3 class="mb-0" th:inline="text">Gewinnspielhinweise für Umfrage "[[${projectName}]]"</h3></div>
	            <div class="card-block p-3">
					<div class="col-lg-12 text-left"  >
						<div th:remove="tag" th:utext="${MSG_PRICEGAME}"></div>
					</div>
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>