<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
   	        <div class="card mb-3">
	            <div th:inline="text" class="card-header text-center"><h3 class="mb-0">[[${statusCode}]]</h3></div>
	            <div class="card-body text-center p-3">
					
					<h1 th:inline="text">[[${errorTitle}]]</h1>
					<p class="lead">Bleibt nur schmollen! ¯\_(ツ)_/¯</p>
					<p class="lead">Und vielleicht den Fehler zu melden?</p>
					<div th:if="${errorMessage != null and errorMessage != ''}" class="table-responsive">
						<table class="table table-responsive table-bordered table-hover table-striped m-0 text-left ">
							<tr>
								<td>Message</td><td th:inline="text"><pre>[[${errorMessage}]]</pre></td>
							</tr>
							<tr>
								<td>Exception</td><td th:inline="text"><pre>[[${errorException}]]</pre></td>
							</tr>
							<tr>
								<td>Stack</td><td th:inline="text"><pre>[[${errorTrace}]]</pre></td>
							</tr>
						</table>
					</div>
					
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>