<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container col-md-6  pt-3">
   			<form th:action="@{${URL_FEEDBACK_SUBMIT}}" method="post">
	   	        <div class="card mb-3">
	   	        
		            <div class="card-header text-center"><h3 class="mb-0">Wähle!</h3></div>
		            
		            <div class="card-body text-center p-3 lead" th:text="${MSG_FEEDBACKQUESTION}"></div>
   	            	<div class="alert alert-danger m-3"  role="alert" th:if="${feedbackError} != null" th:text="${feedbackError}"></div>
					
					<!-- START Questions -->
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:each="ratingQuestion : ${ratingQuestionList}">
						
							<div class="row align-items-center">
							
								<div class="col-sm-auto text-center" th:inline="text">
									<b>- [[${ratingQuestionStat.index+1}]] -</b>
									<div th:remove"tag" th:if="${not #lists.isEmpty(chosenList) and chosenList.get(ratingQuestion.idRatingQuestion) == null}">
										<i class="fas fa-exclamation-triangle text-warning"></i>
									</div>
								</div>
								
								<div class="col-sm">
									<div class="row py-3">
										<div class="col-sm">
										
											<div class="custom-control custom-radio">
												<input 
													type="radio"
													th:id="${'feedbackMap1['+ratingQuestion.idRatingQuestion+']'}"
													th:name="${'feedbackMap['+ratingQuestion.idRatingQuestion+']'}"
													th:value="1"
													th:checked="${chosenList != null and chosenList.get(ratingQuestion.idRatingQuestion) == 1}"
													class="custom-control-input">
												<label class="custom-control-label" th:for="${'feedbackMap1['+ratingQuestion.idRatingQuestion+']'}">
													[[${ratingQuestion.objectOne.getName()}]]
												</label>
											</div>
											
											
										</div>
									</div>
									<div class="row pb-3">
										<div class="col-sm">
										
											<div class="custom-control custom-radio">
												<input
													type="radio"
													th:id="${'feedbackMap2['+ratingQuestion.idRatingQuestion+']'}"
													th:name="${'feedbackMap['+ratingQuestion.idRatingQuestion+']'}"
													th:value="2"
													th:checked="${chosenList != null and chosenList.get(ratingQuestion.idRatingQuestion) == 2}"
													class="custom-control-input">
												<label class="custom-control-label" th:for="${'feedbackMap2['+ratingQuestion.idRatingQuestion+']'}">
													[[${ratingQuestion.objectTwo.getName()}]]
												</label>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
							
						</li>
					</ul>
					
					<!-- END Questions -->
						
		            <div class="card-body text-center p-3">
					
						<div class="form-group mb-0">
							<div>
								<button type="submit" id="submit" class="btn btn-success">
									Absenden!<br /><i class="fas fa-paper-plane"></i>
								</button>
							</div>
						</div>
					</div>	
		            <div class="card-footer">&nbsp;</div>			
				</div>	
			</form>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>