<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
	        <div class="card mb-3">
    			<form action="#" th:action="@{${URL_FEEDBACK_START}}" th:object="${participant}" method="post">

	            	<div class="card-header"></div>
		            <div class="card-block p-3">
						<div class="form-group">
							<label th:for="prename">Vorname</label>
							<input th:field="*{prename}" class="form-control" />
							<span th:errors="*{prename}" class="text-warning"></span>
                 		</div>
                 		
						<div class="form-group">
							<label th:for="name">Nachname</label>
							<input th:field="*{name}" class="form-control" />
							<span th:errors="*{name}" class="text-warning"></span>
                 		</div>
                 		
						<div class="form-group">
							<label th:for="mobile">Mobile Nummmer</label>
							<input th:field="*{mobile}" class="form-control" />
							<span th:errors="*{mobile}" class="text-warning"></span>
                 		</div>
                 		
						<div class="form-group">
							<label th:for="email">Email</label>
							<input th:field="*{email}" class="form-control" />
							<span th:errors="*{email}" class="text-warning"></span>
                 		</div>
					
	            	</div>
		            <div class="card-footer">
	                	<button type="submit" id="submit" class="btn btn-default">Zum Feedback</button>
	                </div>
                </form>
            </div>
	    </main>
	    <footer th:replace="template :: footer"></footer>
	</body>
</html>
