<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
   	        <div class="card mb-3">
	            <div class="card-header text-center"><h3 class="mb-0">Offenes Feedback</h3></div>
	            <div class="card-block p-3">
					<div class="col-lg-12 text-center">
						<p class="" th:utext="${MSG_FEEDBACK_FREETEXT}"></p>
						
							<form th:action="@{${URL_FEEDBACK_SUBMIT}}" method="post">
												
								<div class="form-group">
									<textarea class="form-control" id="freeText" th:text="${freeText}" name="freeText" cols="40" rows="5"></textarea>
								</div>						
														
								<div class="form-group mb-0">
									<div>
										<button type="submit" id="submit" class="btn btn-success">
											Absenden!<br /><i class="fas fa-step-forward"></i>
										</button>
									</div>
								</div>								
								
							</form>
							
					</div>
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>