<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
   	        <div class="card mb-3">
	            <div class="card-header"></div>
	            <div class="card-block p-0">
					<!-- Page Content -->
					<div class="col-lg-12 text-center mb-5">
						<div th:each="ratingQuestion : ${ratingQuestions}" th:object="${ratingQuestion}">
							<p th:inline="text">A: [[*{objectOne.getName()}]] ~~~ B: [[*{objectTwo.getName()}]]</p>
						</div>
					</div>
	            </div>
	            <div class="card-footer">
	            	&nbsp;
	            </div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>