<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-5">
   	        <div class="card mb-3">
	            <div class="card-header">&nbsp;</div>
	            <div class="card-block p-3">
					<div class="col-lg-12 text-center mb-5">
							
		       			<form th:action="@{${URL_FEEDBACK_END}}" method="post">

							<div class="form-group" th:each="ratingQuestion : ${ratingQuestionList}">
							
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
								
									<label th:inline="text" class="btn btn-light">
										<input th:name="${'feedbackMap['+ratingQuestion.idRatingQuestion+']'}" th:value="1" type="radio" autocomplete="off"> [[${ratingQuestion.objectOne.getName()}]]
									</label>
									
									<label th:inline="text" class="btn btn-light">
										<input th:name="${'feedbackMap['+ratingQuestion.idRatingQuestion+']'}" th:value="2" type="radio" autocomplete="off"> [[${ratingQuestion.objectTwo.getName()}]]
									</label>
									
								</div>					
								
							</div>
							
							<div class="form-group">
								<div>
									<button type="submit" id="submit" class="btn btn-success">
										Absenden!<br /><i class="fas fa-paper-plane"></i>
									</button>
								</div>
							</div>
						
						</form>
										
					</div>
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>