<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Willkommen auf unserem Feedbackportal!</h1>
					<p class="lead">Über diese Tool sammeln wir zu verschiedenen Projekten oder Veranstaltungen eure Meinung ein.</p> 
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 border-dark p-3 mb-3" th:each="project : ${projectList}" th:object="${project}">
					<div class="card mb-3">
						<div class="card-header text-center">
							<h3 class="mb-0" th:text="*{projectName}"></h3>
						</div>
						<div class="card-block p-3">
							<table>
								<tr>
									<th>Start:</th>
									<td class="pl-3" th:text="*{startZonedDateTime+' Uhr'}"></td>
								</tr>
								<tr>
									<th>Ende:</th>
									<td class="pl-3" th:text="*{endZonedDateTime+' Uhr'}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer text-center">
							<a th:href="@{${URL_PROJECTHOME}+*{projectName}}" class="btn btn-primary" role="button" th:id="*{idProject}">
								<i class="fas fa-play"></i>
							</a>
							<script type="text/javascript" th:inline="javascript">
								/*<![CDATA[*/
								$([['#'+*{idProject}]]).popover({
									trigger : 'hover',
									placement : 'bottom',
									content : 'Zur Umfrage [[*{projectName}]]',
								})
							</script>
						</div>
					</div>
				</div>
			</div>
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>