<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="de" th:replace="template :: header"></head>
	<body>
		<nav th:replace="template :: nav"></nav>
	    <main class="container pt-3">
   	        <div class="card mb-3">
	            <div class="card-header text-center"><h3 class="mb-0">Hello there!</h3></div>
	            <div class="card-block p-3">
					<div class="col-lg-12 text-center">
					
						<p class="" th:utext="${MSG_HOME}"></p>
						<p class="lead"><b><u>Und so einfach geht's:</u></b></p>
						<p class="" th:inline="text">Wir stellen dir eine Frage, die du für [[${NEEDED_QUESTION_COUNT}]] Begriffkombinationen beantworten musst.
						<div>
							<a th:href="@{${URL_FEEDBACK_START}}" class="btn btn-primary" role="button">
								Los gehts!<br /><i class="fas fa-play"></i>
							</a>
						</div>
						
					</div>
	            </div>
	            <div class="card-footer">&nbsp;</div>			
			</div>	
		</main>
	    <footer th:replace="template :: footer"></footer>		
	</body>
</html>