<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<head lang="de" th:fragment="header">
	
		<title>Feedback App</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale = 1.0, user-scalable = no" />
		<meta name="description" content="Tool zum Sammeln von Feedback für die TEENNIGHT des SWDEC" />
		<meta name="author" content="derBobby" />
		 
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />				
		<link rel="stylesheet" media="screen" th:href="@{/webjars/font-awesome/css/all.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap4-toggle/css/bootstrap4-toggle.min.css}" />  
		<link rel="stylesheet" media="screen" th:href="@{/css/custom.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/webjars/summernote/dist/summernote-bs4.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" />

		<script th:src="@{/webjars/jquery/jquery.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
		<script th:src="@{/webjars/summernote/dist/summernote-bs4.min.js}"></script>
		<script th:src="@{/webjars/bootstrap4-toggle/js/bootstrap4-toggle.min.js}"></script>
		<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
<!--	<script th:src="@{/webjars/moment-timezone/moment-timezone.js}"></script>
		<script th:src="@{/webjars/moment-timezone/moment-timezone-with-data.js}"></script>
-->		<script th:src="@{/webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


		<style th:inline="text">
			body{
				background: url([[@{/img/background.jpg}]])
				no-repeat center center fixed;
				background-color: #000000
			}
		</style>
	</head>
	
	<body id="page-top">
	
		<!-- Navigation -->		
		<nav th:fragment="nav" class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
		
			<a class="navbar-brand" th:href="@{${URL_HOME}}">
				<img th:src="@{/img/logo.png}" class="d-inline-block align-top" height="30" alt="">
				Feedback App
			</a>
	
			<button sec:authorize="${hasRole(@authConfiguration.getAdminRole())}" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#anwNavbar" aria-controls="anwNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- collapsible part -->
			<div sec:authorize="${hasRole(@authConfiguration.getAdminRole())}" class="collapse navbar-collapse" id="anwNavbar">
				<!-- alignment to the right -->
				<div class="navbar-nav ml-auto">
	
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<!-- TODO Multiple elements are active -->
						<li class="nav-item active">
							<a class="nav-link" th:href="@{${URL_ADMIN_PROJECTS}}"><i class="fas fa-users"></i> Projekte</a>
						</li>
						
						<form th:action="@{${@authConfiguration.getLogoutUrl()}}" method="POST">
							<button style="border: none; background: none" type="submit" class="nav-link active"><i class="fas fa-sign-out-alt"></i> Logout</button>
						</form>
						
					</ul>
				</div>
			</div>
		</nav>						 				

		<footer th:fragment="footer">
			<div class="container text-center text-muted">
				<p><a target="_blank" th:href="@{${URL_IMPRESSUM}}">Impressum</a> | <a target="_blank" th:href="@{${URL_DATENSCHUTZ}}">Datenschutz</a><div sec:authorize="isAnonymous()" th:remove="tag"> | <a th:href="@{${URL_LOGIN_FORM}}">Login</a></div></p>
				<p th:text="${TIMENOW}+' | derBobby © 2021'"></p>
			</div>
			
			<div th:if="${isDevProfile}" class="container text-center text-muted">
				<table border="1" th:if="${ #session != null }">
					<tr>
						<th colspan="2">Session</th>
					</tr>
					<tr>
						<td>ID</td>
						<td th:text="${#session.getId()}"></td>
					</tr>
					<tr>
						<td>Project</td>
						<td th:text="${#session.getAttribute('project')}"></td>
					</tr>
				</table>
				<br/>
				<table border="1">
					<tr>
						<th colspan="2">Authentication</th>
					</tr>
					<tr>
						<td>Name</td>
						<td th:text="${#authentication.name}"></td>
					</tr>
					<tr>
						<td>Principal</td>
						<td th:text="${#authentication.principal}"></td>
					</tr>
					<tr>
						<td>Credentials</td>
						<td th:text="${#authentication.credentials}"></td>
					</tr>
					<tr>
						<td>Authorities</td>
						<td th:text="${#authentication.Authorities}"></td>
					</tr>
					<tr>
						<td>Details</td>
						<td th:text="${#authentication.details}"></td>
					</tr>
				</table>
			</div>
			
		</footer> 
		
	</body>
	
</html>