<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<head lang="de" th:fragment="header">
	
		<title>Teennight Feedback App</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale = 1.0, user-scalable = no">
		<meta name="description" content="Tool zum Sammeln von Feedback für die TEENNIGHT des SWDEC">
		<meta name="author" content="derBobby">
	
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />				
		<link rel="stylesheet" media="screen" th:href="@{/webjars/font-awesome/css/all.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap4-toggle/css/bootstrap4-toggle.min.css}" />  
		<link rel="stylesheet" media="screen" th:href="@{/css/custom.css}" />


		<script th:src="@{/webjars/jquery/jquery.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
		<script th:src="@{/webjars/bootstrap4-toggle/js/bootstrap4-toggle.min.js}"></script>
		
		<style th:inline="text">
			body{
				background: url([[@{/img/background.jpg}]])
				no-repeat center center fixed;
				background-color: #000000
			}
		</style>
	</head>
	
	<body id="page-top">
	
		<!-- Navigation -->		
		<nav th:fragment="nav" class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
		
			<a class="navbar-brand" th:href="@{${URL_HOME}}">Teennight Feedback App</a>
	
			<button sec:authorize="hasAnyRole('ROLE_ADMIN')" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#anwNavbar" aria-controls="anwNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- collapsible part -->
			<div sec:authorize="hasAnyRole('ROLE_ADMIN')" class="collapse navbar-collapse" id="anwNavbar">
			
				<!-- alignment to the right -->
				<div class="navbar-nav ml-auto">

				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{${URL_ADMIN_SHOWFEEDBACK}}"><i class="fas fa-users"></i> Ergebnisse</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{${URL_LOGOUT}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>
				</ul>
			</div>
		</nav>						 				

		<footer th:fragment="footer">
			<div class="container text-center text-muted">
				<p>derBobby © 2019</p>
				<p><a target="_blank" th:href="@{${URL_IMPRESSUM}}">Impressum</a> | <a target="_blank" th:href="@{${URL_DATENSCHUTZ}}">Datenschutz</a><div sec:authorize="isAnonymous()" th:remove="tag"> | <a th:href="@{${URL_LOGIN_FORM}}">Login</a></div></p>
			</div>
			
			<div th:if="${isDevProfile}" class="container text-center text-muted">
				<p th:text="'SESSION: ' + ${#session.getId()}"></p>
				<p th:text="'NAME: ' + ${#authentication.name}"></p>
				<p th:text="'PRINCIPAL: ' + ${#authentication.principal}"></p>
				<p th:text="'CREDENTIALS: ' + ${#authentication.credentials}"></p>			
				<p th:text="'AUTHORITIES: ' + ${#authentication.Authorities}"></p>
				<p th:text="'DETAILS: ' + ${#authentication.details}"></p>
			</div>
		</footer> 
		
	</body>
	
</html>