<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<head lang="de" th:fragment="header">
	
		<title>Teennight Feedback App</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale = 1.0, user-scalable = no">
		<meta name="description" content="Tool zum Sammeln von Feedback für die TEENNIGHT des SWDEC">
		<meta name="author" content="derBobby">
	
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />				
		<link rel="stylesheet" media="screen" th:href="@{/webjars/font-awesome/css/all.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap4-toggle/css/bootstrap4-toggle.min.css}" />  
		<link rel="stylesheet" media="screen" th:href="@{/css/custom.css}" />


		<script th:src="@{/webjars/jquery/jquery.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
		<script th:src="@{/webjars/bootstrap4-toggle/js/bootstrap4-toggle.min.js}"></script>
		
		<style th:inline="text">
			body{
				background: url([[@{/img/background.jpg}]])
				no-repeat center center fixed;
				background-color: #000000
			}
		</style>
	</head>
	
	<body id="page-top">
	
		<!-- Navigation -->		
		<nav th:fragment="nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		
			<a class="navbar-brand" th:href="@{${URL_HOME}}">Teennight Feedback App</a>
	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#anwNavbar" aria-controls="anwNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- collapsible part -->
			<div class="collapse navbar-collapse" id="anwNavbar">
			
				<!-- alignment to the right -->
				<div class="navbar-nav ml-auto">
	
				<!-- START MENU-->
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"  data-target="#infoDropdown" aria-controls="infoDropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-info-circle"></i>
						</a>
						
						<div id="infoDropdown" class="dropdown-menu" aria-labelledby="infoDropdown">
						
							<a class="dropdown-item" th:href="@{${URL_IMPRESSUM}}"><i class="fas fa-globe"></i> Impressum</a>
							<a class="dropdown-item" th:href="@{${URL_DATENSCHUTZ}}"><i class="fas fa-mask"></i> Datenschutz</a>
							
							<div class="dropdown-divider"></div>
							
							<div sec:authorize="isAnonymous()" th:remove="tag">
								<a th:href="@{${URL_LOGIN_FORM}}" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Login</a>
							</div>
							
							<div sec:authorize="hasAnyRole('ROLE_ADMIN')" th:remove="tag">
								<a th:href="@{${URL_ADMIN_SHOWFEEDBACK}}" class="dropdown-item"><i class="fas fa-users"></i> Ergebnisse</a>
							</div>
							<div sec:authorize="hasAnyRole('ROLE_ADMIN')" th:remove="tag">
								<a th:href="@{${URL_LOGOUT}}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
							</div>
							
						</div>
					</div>
				<!-- END MENU-->

				</div>
			</div>
	
		</nav>						 				

		<footer th:fragment="footer">
			<div class="container text-center text-muted">
				<p>derBobby © 2019</p>
				<p><a th:href="@{${URL_IMPRESSUM}}">Impressum</a> | <a th:href="@{${URL_DATENSCHUTZ}}">Datenschutz</a></p>
			</div>
			<div th:if="${isDevProfile}" class="container text-center text-muted">
				<p th:text="'SESSION: ' + ${#session.getId()}"></p>
				<p th:text="'NAME: ' + ${#authentication.name}"></p>
				<p th:text="'PRINCIPAL: ' + ${#authentication.principal}"></p>
				<p th:text="'CREDENTIALS: ' + ${#authentication.credentials}"></p>			
				<p th:text="'AUTHORITIES: ' + ${#authentication.Authorities}"></p>
				<p th:text="'DETAILS: ' + ${#authentication.details}"></p>
			</div>
		</footer> 
		
	</body>
	
</html>